body{
    background-image: url("../images/zabby-allen-bkgd.jpg");
}
#brown{
    height: 200px;
    max-width:800px;
    background-color:powderblue;
    align-content: center;
    
}
#green{
    height: 300px;
    max-width: 500px;
    background-color: aquamarine;
    
}
#red{
    height:300px;
    max-width:500px;
    background-color: blueviolet;
    
}
#violet{
    height:300px;
    max-width:500px;
    background-color: rgb(226, 43, 195);
    
}
h1{
    height:200px;
    max-width: 50%;
    background-color: powderblue;
    color:whitesmoke;
    
}
h3{
    color:#fff;
}

.container{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-content:center;
}
.flex-container{
    display:flex;
    flex-direction: row;
}
